<html>
    <head>
        <title>Welcome Page</title>
        <style>
           
            .imgcontainer {
                text-align: center;
                margin: 24px 0 12px 0;
            }
              
            img.avatar {
                width: 100%;
                height: 100%;
                
            }
        </style>
    </head>
    <body>
        
        <div class="imgcontainer">
            <img src="/static/image/welcome.jpg" alt="welcome" class="welcome">
    </body>

</html>